<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".RegistActivity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.campus.index.IndexActivity" >
        </activity>
        <activity android:name=".MineActivity" >
        </activity>
        <activity android:name=".CategoryActivity" >
        </activity>
        <activity android:name="com.campus.index.DetailTradeInfoActivity" >
        </activity>
        <activity android:name=".SearchResultsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>